.body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 60px;
}
.color{
    color: yellowgreen;
}
p{
    font-size: 30px;
}
section{
    display: flex;
}
.space{
    width: 50%;
    padding: 5%;
}
.space img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(yellow,green);
    padding: 10px 40px;
    color:black;
    font-weight: 800px;
    border-radius: 5px ;